<div class="checkout-breadcrumbs">
  <div class="<%= "selected" if step == 1 %>">
    Step 1. Shipping
  </div>

  <div class="<%= "selected" if step == 2 %>">
    Step 2. Payment
  </div>

  <div class="<%= "selected" if step == 3 %>">
    Step 3. Review & Confirm
  </div>
</div>
