<div class="product-tile">
  <div>
    <%= link_to product_path(product) do %>
      <img src="http://placehold.it/450x300" />
    <% end %>
  </div>
  <div class="product-info">
    <div><%= product.name %></div>
    <div><%= product.price_range %></div>
  </div>
</div>
