<div class="product-tile">
  <div>
    <%= link_to product_path(product) do %>
      <img src="http://placehold.it/450x300" />
    <% end %>
  </div>
  Product Name: <%= product.name %> <br>
  Product Price: <%= product.price_range %><br>
</div>
