<div class="product">
  <div>
    &nbsp;
    <div class="carousel">
      <div>
        <% @product.images.each do |image| %>
          <div>
            <%= cl_image_tag(image.resource.url(:gallery)) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h1><%= @product.name %></h1>
    <%= @product.description %>
    <%= render partial: "order_item_form", locals: { product: @product } %>
    <br><br>
  </div>
</div>

