.cart-item {
  @include outer-container;

  font-size: 14px;

  .cart-item-image {
   @include span-columns(2);
   padding-top: 5px;
  }

  .cart-item-details {
    @include span-columns(10);
    header {
      background: transparent;
      color: $dark-gray;
      font-weight: bold;
      line-height: 16px;
    }

    section {

    }

    footer {
      @include outer-container;

      div {
        @include span-columns(8);
        &:last-child {
          @include span-columns(4);
          text-align: right;
        }
      }

      button {
        background: transparent;
        color: $dark-gray;
      }
    }
  }

}
