<nav class="js-cart sliding-panel-content">
  <header>
    <div class="cart-back-button-container">
      <button class="sliding-panel-close">
        <%= fa_icon "angle-left" %>
      </button>
    </div>
    <div class="cart-title">
      Your Cart
    </div>
  </header>
</nav>

<div class="js-cart-screen sliding-panel-fade-screen"></div>
