<div class="checkout-breadcrumbs">
  <ul>
    <li class="<%= "selected" if step == 1 %>">Shipping</li>
    <li class="<%= "selected" if step == 2 %>">Payment</li>
    <li class="<%= "selected" if step == 3 %>">Thank You</li>
  </ul>
</div>
