.carousel {
  margin-bottom: 60px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;

  .slick-prev:before, .slick-next:before {
    color: $gray;
    font-family: FontAwesome;
    font-size: 36px;
  }

  .slick-prev, .slick-next {
    z-index: 100;
  }

  .slick-prev {
    left: 25px;

    &:before {
      content: "\f104";
    }
  }

  .slick-next {
    right: 25px;

    &:before {
      content: "\f105";
    }
  }

  div, img, a, button{
    @include user-select(none);
    outline: 0;
  }
}
