<div class="category-tile">
  <div>
    <% if category.image.present? %>
      <%= cl_image_tag(category.image.resource.url, width: 350) %>
    <% else %>
      <img src="http://placehold.it/350x200" />
    <% end %>
  </div>
  <%= link_to "Shop", category_path(category) %>
  <%= category.name %>
</div>
