<%= render partial: "store/shared/hero",
  locals: { title: category.name, image: category.header_image } %>

<div class="products">
  <% category.products.each do |product| %>
    <%= render partial: "store/products/product", object: product %>
  <% end %>
</div>
