<div class="panel">
  <div>Browser Information</div>
  <div>
    <dl>
      <dt>Operating System</dt>
      <dd><%= page_view.operating_system %></dd>

      <dt>Browser</dt>
      <dd><%= page_view.browser %></dd>

      <dt>Browser Version</dt>
      <dd><%= page_view.browser_version %></dd>
    </dl>
  </div>
</div>
