<h1>Edit Category</h1>

<%= render "form" %>

<br><br>

<%= render partial: "admin/images/images",
  locals: {
    images: [@category.header_image].reject(&:blank?),
    object: @category,
    title: "Header Image",
    photo_type: :header_image
  } %>
<%= render partial: "admin/images/images",
  locals: {
    images: [@category.category_image].reject(&:blank?),
    object: @category,
    title: "Category Image",
    photo_type: :category_image
  } %>

<br><br>
<%= button_to "Delete Category",
  admin_category_path(@category),
  method: :delete
%>
