<h1>Edit Product</h1>

<%= render "form" %>

<%= render partial: "admin/skus/skus", locals: { product: @product } %>

<%= render partial: "admin/images/images",
           locals: { object: @product, images: @product.images } %>
