.admin {
  width: 100%;

  & > div {
    @include fill-parent();
    @include row(table);
    height: 100%;

    & > div {
      @include media ($horizontal-bar-mode) {
        @include span-columns(2);
        height: 100%;
      }

      &:last-child {
        @include media ($horizontal-bar-mode) {
          @include span-columns(10);
          @include reset-display;
        }
      }
    }
  }

  div.admin-content {
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }
}
