body {
  background: $white;
  margin: 0;
  padding: 0;
}

.content-container {
  @include outer-container;

  margin-bottom: 3em;
  margin-top: 3em;

  &>div {
    @include span-columns(12);
    padding: 0 10px;

    @include media ($horizontal-bar-mode) {
      padding: 0;
    }
  }
}
