<h1>Billing Details</h1>
<form role="form" id="credit-card-form">
  <div>
    <label>Name on Card</label>
    <input type="text" id="card-name" autocomplete="off" placeholder="John Doe" />
  </div>
  <div>
    <label>Card Number</label>
    <input type="text" id="card-number" autocomplete="off" placeholder="4111111111111111" maxlength="16" data-stripe="number" />
  </div>
  <div>
    <label>Expiration</label>
    <input type="text" id="cc-ex-month" autocomplete="off" placeholder="01" maxlength="2" data-stripe="exp-month" />
    <input type="text" id="cc-ex-year" autocomplete="off" placeholder="2013" maxlength="4" data-stripe="exp-year" />
  </div>
  <div>
    <label>Card Verification Code (CVC)</label>
    <input type="text" id="card-cvv" autocomplete="off" placeholder="453" maxlength="4" data-stripe="cvc"/>
  </div>
  <div>
    <label>Postal Code</label>
    <input type="text" id="postal-code" autocomplete="off" placeholder="453" />
  </div>

  <div class="payment-errors"></div>
</form>

<%= simple_form_for [:checkout, @credit_card] do |f| %>
  <%= f.input :token, as: :hidden %>
  <%= f.submit %>
<% end %>

<%= render partial: "dev_helper" if Rails.env.development? %>
