<div class="product">
  <div>
    &nbsp;
  </div>
  <div>
    <h1><%= @product.name %></h1>
    Description: <%= @product.description %>
    <%= render partial: "order_item_form", locals: { product: @product } %>
    <br><br>
  </div>
</div>

