<div class="table">
  <table class="admin-products">
    <thead>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Inventory</th>
      <th>Remaining</th>
    </thead>

    <%= render @coupons %>
  </table>
</div>
